<?xml version="1.0"
      encoding="UTF-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="NLog.log"
      internalLogLevel="Error"
      internalLogToConsoleError="true">
  <extensions>
    <add assembly="Client" />
  </extensions>

  <variable name="level-layout"
            value="${level:uppercase=true:rpad=5}" />
  <variable name="thread-layout"
            value="[${pad:rpad=4:inner=${threadname:whenEmpty=${threadid}}}]" />
  <variable name="logger-layout"
            value="${logger:rpad=25}" />
  <variable name="message-layout"
            value="${message}" />
  <variable name="exception-layout"
            value="${onexception:inner=${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=10}}" />

  <variable name="default-layout"
            value="${date:culture=de} ${level-layout} ${thread-layout} ${logger-layout} - ${message-layout}${exception-layout}" />

  <targets>
    <target name="File"
            xsi:type="File"
            fileName="${basedir}/Log.log"
            concurrentWrites="false"
            encoding="UTF-8"
            layout="${default-layout}" />

    <target name="Debugger"
            xsi:type="Debugger"
            layout="${default-layout}" />

    <target name="ColoredConsole"
            xsi:type="ColoredConsole"
            layout="${default-layout}">
      <highlight-row condition="level &gt;= LogLevel.Error"
                     foregroundColor="Red" />
      <highlight-row condition="level &gt;= LogLevel.Warn"
                     foregroundColor="Yellow" />
      <highlight-row condition="level &gt;= LogLevel.Info"
                     foregroundColor="Green" />
      <highlight-row condition="level &gt;= LogLevel.Trace"
                     foregroundColor="DarkGray" />
    </target>
  </targets>

  <rules>
    <logger name="*"
            minlevel="Trace"
            writeTo="ColoredConsole, Debugger, File" />
  </rules>
</nlog>
