source https://api.nuget.org/v3/index.json

framework: auto-detect

nuget Microsoft.AspNetCore.SignalR
nuget Microsoft.AspNetCore.SignalR.Client
nuget Microsoft.Extensions.Hosting
nuget Minimod.RxMessageBroker content: once
nuget Serilog.Sinks.Console
nuget Serilog.Expressions
nuget Serilog.Exceptions
nuget Serilog.Extensions.Hosting
nuget Serilog.Settings.Configuration
nuget System.Reactive
