html, body {
  height: 100%;
  margin: 0;

  font-family: 'Droid Sans', Segoe UI, Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


#welcome {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: drop;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

@keyframes drop {
  to {
    top: 50%
  }
}

h1 {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  color: rgb(0, 52, 120);
}

#status {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 70%;
  margin: .5rem;
}

#status.error {
  background-color: red;
  color: white;
}

#status.warning {
  background-color: gold;
  color: black;
}

#status.success {
  background-color: lime;
  color: black;
}

#terminals {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

@media all and (max-width: 800px) {
  #terminals {
    flex-direction: column;
  }
}

#terminals section {
  margin: .5em;
  border: 1px solid gray;

  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

#terminals section header {
  text-align: center;
  background-color: gray;
  color: #fff;
  flex: none;
}

#terminals section.delayed header {
  background-color: gold;
  color: #000;
}

#terminals section.terminated header {
  opacity: .5;
}

#terminals section.terminated header::after {
  content: " (terminated)";
}

#terminals section.terminated pre:last-child::after {
  display: block;
  content: "# Session has been terminated";
}

#terminals section .term {
  overflow: auto;
  height: 100%;
}
