:root {
  --gw-light-blue: #0073cf;
  --gw-dark-blue: #003478;

  --gw-light-gray: #e0e0e0;
  --gw-dark-gray: #5b5d5e;

  --vt-c-white: #ffffff;
  --vt-c-black: #282828;
}

:root {
  --color-background: var(--vt-c-white);
  --color-heading: var(--gw-dark-blue);
  --color-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-heading: var(--gw-light-blue);
    --color-text: var(--gw-light-gray);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Noto Sans', Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--color-heading);
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
}
